<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>157973073886-m40i2gj9q3g58vfce75l4fakecvs1dfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.157973073886-m40i2gj9q3g58vfce75l4fakecvs1dfg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>157973073886-7mbom25ilk90k0vlql5nk9ve3hh1e67p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1u-bU9ueG_eJmTp7Jpa4HbKJKoadOuts</string>
	<key>GCM_SENDER_ID</key>
	<string>157973073886</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.srabondev.chatApp</string>
	<key>PROJECT_ID</key>
	<string>love-chat-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>love-chat-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157973073886:ios:3c6d156589ae08459a174f</string>
</dict>
</plist>